{% extends 'base.html.twig' %}

{% block title %}Votre panier!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Votre panier</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in datacart %}
                <tr>
                <td>{{ product.cake.name }}</td>
                <td class="text-right">{{ product.cake.price }}</td>
                <td>{{ product.quantity }}</td>
                <td class="text-right">{{ product.quantity * product.cake.price }}</td>
                <td></td>
                </tr>
            {% else %}
                <tr colspan="5" class="text-center">Votre panier est vide.</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
