{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="d-flex justify-content-center">
    <button class="btn btn-secondary text-white">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
