{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <img class="comment-img" src="https://i.pravatar.cc/200" alt="Une image de gâteau.">
        <h3>Prénom N.</h3>
        <p>Email: {{ app.user.email }}</p>
    {% endif %}
    <a href="{{ path('app_customer_index') }}">Retour</a>
{% endblock %}

{% block title %}

{% endblock %}
