{% extends 'base.html.twig' %}

{% block title %}Espace Admin - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% include "components/_adminnav.html.twig" %}
        </div>
        <div class="row admin-container d-flex justify-content-center align-items-center">
            <h1 class="text-primary text-center">Espace admin</h1>
        </div>
    </div>
{% endblock %}
