{% extends 'base.html.twig' %}

{% block title %}Nos services - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex flex-column align-items-center">
            <h1 class="text-primary text-center">Nos services</h1>
            <h2 class="text-secondary text-center">Pour les professionnels et les particuliers</h2>

            <div class="col-lg-10 col-12">
                <div class="container-fluid">

                    <div class="row d-flex flex-column flex-md-row align-items-center mt-5 mb-5">
                        <div class="col-md-6 col-12">
                            <h3 class="text-primary">Nos gâteaux</h3>
                            <p>Chacun est unique et chaque occasion l'est aussi ! Pour cela, MyCakeEvent vous propose
                                les meilleurs pâtissiers/cake designers pour vous créer le gâteau de vos rêves.</p>
                        </div>
                        <div class="col-md-6 col-12 d-flex justify-content-center">
                            <img src="{{ asset("build/images/cakes-services.jpg") }}"
                                 alt="Une photo de gâteaux." class="img-fluid" width="300px">
                        </div>
                    </div>

                    <div class="row d-flex flex-column-reverse flex-md-row align-items-center mt-5 mb-5">
                        <div class="col-md-6 col-12 d-flex justify-content-center">
                            <img src="{{ asset("build/images/baker-services.png") }}" class="img-fluid" width="300px"
                                 alt="Une photo de pâtissière">
                        </div>
                        <div class="col-md-6 col-12">
                            <h3 class="text-primary">Nos ateliers</h3>
                            <p>Entre Famille, entre amis ou entre collègues et dans une ambiance conviviale, venez créer
                                et décorer votre gâteau tout en vous amusant.</p>
                        </div>
                    </div>

                    <div class="row d-flex flex-column flex-md-row align-items-center mt-5 mb-5">
                        <div class="col-md-6 col-12">
                            <h3 class="text-primary">Nos formations</h3>
                            <p>Vous souhaitez apprendre une nouvelle technique de décoration de gâteau ?
                                Perfectionner votre savoir-faire ? Vous êtes à la bonne adresse.</p>
                        </div>
                        <div class="col-md-6 col-12 d-flex justify-content-center">
                            <img src="{{ asset("build/images/portrait-of-happy-male-chef-dressed-in-uniform.jpg") }}"
                                 width="300px" class="img-fluid" alt="Une photo de chef pâtissier">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
