

.title-show {
    color: #C4B192;
    margin-bottom: 2em;
}

.cake-card {
    margin-bottom: 8em;
}

.title-cake {
    font-size: 2em;
}

.card-img-top {
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.avis {
    margin: inherit;
}

.hat {
    margin-right: 1em;
}

.cake-img-pres {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}
