

#cake-list h1, h5, p {
    font-family: "Karla", sans-serif;
}

#cake-list h1 {
    font-size: 1.125em;
}

#cake-list .cake-reviews, .cake-city, .cake-disponibility, .cake-img-pres, .baker-name {
    font-size: 0.94em;
}

#cake-list .cake-disponibility {
    font-size: 0.8em;

}

#cake-list .cake-img {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

#cake-list .hat {
    height: 1em;
}


@media screen and (min-width: 992px){
    #cake-list h1 {
        font-size: 2em;
        line-height: 1em;
    }

    #cake-list .cake-reviews, .cake-city, .cake-disponibility, .cake-price, .baker-name {
        font-size: 1em;
    }

    #cake-list .cake-card {
        height: min-content;
        width: 20em;
    }

}
