{% extends 'base.html.twig' %}

{% block title %}Modifier Pâtissier{% endblock %}

{% block body %}
    <h1>Compte pâtissier : modifier</h1>

    {{ include('baker/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('baker/_delete_form.html.twig') }}
{% endblock %}