{% extends 'base.html.twig' %}

{% block title %}Modifier Pâtissier{% endblock %}

{% block body %}

 <h1 class="text-primary text-center">Compte pâtissier : modifier compte</h1>

   
    {{ include('baker/_form.html.twig') }}

{% endblock %}