{% extends 'base.html.twig' %}

{% block title %}Créer un compte Pâtissier{% endblock %}

{% block body %}
    <h1>Créer un compte Pâtissier</h1>

    {{ include('baker/_form.html.twig') }}

{% endblock %}
