<ul class="container-fluid nav bg-dark mb-4">
    <li class="nav-item pt-3 pb-3 btnNavAdmin">
        <a class="nav-link" href="{{ path('app_baker_index') }}">Prestataires</a>
    </li>
    <li class="nav-item pt-3 pb-3 btnNavAdmin">
        <a class="nav-link" href="{{ path('app_admin_cakes') }}">Gâteaux</a>
    </li>
    <li class="nav-item pt-3 pb-3 btnNavAdmin">
        <a class="nav-link" href="{{ path('app_admin_orders') }}">Commandes</a>
    </li>
    <li class="nav-item pt-3 pb-3 btnNavAdmin">
        <a class="nav-link" href="{{ path('logout') }}">Me déconnecter</a>
    </li>
</ul>
