{{ form_start(searchForm) }}
<div class="input-group">
    {{ form_widget(searchForm.search, {
        "attr": {
            "class": "form-control",
        }
    }) }}

    <button class="btn btn-secondary">{{ button_label|default('Rechercher') }}</button>
</div>
{{ form_end(searchForm) }}
