<footer class="container-fluid p-5">
    <div class="row d-flex flex-row justify-content-between justify-content-lg-start">
        <div class="col-lg-3 col-md-4 footer-help-container d-flex flex-column">
            <h4 class="m-0 mb-3">Besoin d'aide ?</h4>
            <ul class="p-0">
                <li>
                    <a href="/404">
                        <p class="m-0">FAQ</p>
                    </a>
                </li>
                <li>
                    <a href="/404">
                        <p class="m-0">Contact</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-4 footer-misc-container d-flex flex-column">
            <h4 class="m-0 mb-3">Divers</h4>
            <ul class="p-0">
                <li>
                    <a href="{{ path("app_register_baker") }}">
                        <p class="m-0">Inscription pâtissier</p>
                    </a>
                </li>
                <li>
                    <a href="/404">
                        <p class=" m-0">CGV</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
