<footer class="fluid-container">
    <div class="row">
        <div class="footer-main-container d-flex flex-row">
            <div class="footer-help-container d-flex flex-column">
                <h4>Besoin d'aide ?</h4>
                <ul>
                    <li>
                        <a href="/404">
                            <p class="m-0">FAQ</p>
                        </a>
                    </li>
                    <li>
                        <a href="/404">
                            <p class="m-0">Contact</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-misc-container d-flex flex-column">
                <h4>Divers</h4>
                <ul>
                    <li>
                        <a href="{{ path("app_register_baker") }}">
                            <p class="m-0">Inscription pâtissier</p>
                        </a>
                    </li>
                    <li>
                        <a href="/404">
                            <p class=" m-0">CGV</p>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="#"><img class="footer-logo" src="{{ asset('build/images/logo.png') }}" alt="Logo"></a>
        </div>
    </div>
</footer>
