<footer class="footer-main-container d-flex flex-row">
    <section class="footer-help-container d-flex flex-column">
        <h4>Besoin d'aide ?</h4>
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </section>
    <section class="footer-misc-container d-flex flex-column">
        <h4>Divers</h4>
        <ul>
            <li><a href="#">Inscription pâtissier</a></li>
            <li><a href="#">CGV</a></li>
            <li><a href="#">COVID 19</a></li>
        </ul>
    </section>
    <a href="#"><img class="footer-logo" src="{{ asset('build/images/logo.png') }}" alt="Logo"></a>
</footer>
