{{ form_start(searchForm) }}
<div class="d-flex">
    <div class="col">
        {{ form_widget(searchForm) }}
    </div>
    <div class="col">
        <button class="btn btn-primary">{{ button_label|default('Rechercher') }}</button>
    </div>
</div>
{{ form_end(searchForm) }}
