<form method="post" action="{{ path('app_cake_delete', {'id': cake.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cette pâtisserie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cake.id) }}">
    <button class="btn">Supprimer</button>
</form>
