{{ form_start(form, {
        "attr": {
            "id":"myDropzone",
            "class": "dropzone"
        }
    }) }}
    {{ form_widget(form) }}
       <div class="dz-message dz-button" data-dz-message><span>Ajouter les photos du gâteau</span></div>
        <div class="files" id="previews">{% include "cake/_previewdropzone.html.twig" %}</div>
        
        <button class="btn" id="dropzoneButton">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
