{{ form_start(form, {
    "attr": {
        "id":"myDropzone",
        "class": ""
    }
}) }}
    {{ form_widget(form) }}
<div class="d-flex flex-column mt-4 align-items-center">
    <div class="dz-message dz-button btn btn-secondary text-white" data-dz-message>
        <span>Ajouter les photos du gâteau</span>
    </div>
    <div class="files" id="previews">{% include "cake/_previewdropzone.html.twig" %}</div>
    <button class="btn btn-lg mt-4 btn-secondary text-white"
            id="dropzoneButton">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
