<div class="modal fade" id="modalPic" tabindex="-1" aria-labelledby="picModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-resize">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary" id="exampleModalLabel">Voir les photos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="col-12">
                    {{ include('cake/_picture_carousel.html.twig', {
                        place: "viewer",
                    }) }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
