<div id="template" class="container-fluid">
    <!-- This is used as the file preview template -->
    <div class="row d-flex justify-content-center">
      <div class="col-6">
          <span class="preview"><img class="m-1" data-dz-thumbnail /></span>
      </div>
      <div class="col-4 d-flex align-items-center">
        <button data-dz-remove class="btn btn-primary delete">Supprimer
        </button>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <p class="col-10 name" data-dz-name></p>
      <strong class="error text-danger" data-dz-errormessage></strong>
      <div class="dz-progress">
        <span class="dz-upload" data-dz-uploadprogress></span>
      </div>
    </div>
</div>
