{% extends 'base.html.twig' %}

{% block title %}Ajouter une pâtisserie{% endblock %}

{% block body %}
    <h1>Ajouter une pâtisserie</h1>

    {{ include('cake/_form.html.twig') }}

    <a href="{{ path('app_cake_index') }}">Retour à la liste</a>
{% endblock %}

{% block javascripts %}
        {{ parent() }}
    {{ encore_entry_script_tags('dropzone') }}
    {% endblock %}
