{% extends 'base.html.twig' %}

{% block title %}Commande terminée ! - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid container-height">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center">

                <h1 class="text-primary text-center mb-4">Commande terminée !</h1>
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-lg-6 bg-white p-3 rounded d-flex flex-column align-items-center">
                            <h2 class="text-center">Votre commande est validée de notre côté.</h2>
                            <p>Le pâtissier doit maintenant valider votre commande. Vous recevrez alors les instructions
                                de retrait ainsi que ses coordonnées pour le contacter et organiser le retrait.</p>
                            <p>Vous pouvez retrouver cette commande et suivre son avancement dans votre
                                <a href="{{ path("app_customer_orders") }}">
                                    suivi de commande</a>.</p>
                            <a href="{{ path("app_home") }}">
                                <button type="button" class="btn btn-secondary text-white">Retour à l'accueil</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
