<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8 col-6 d-flex flex-column align-items-center">
            <img class="error-cake img-fluid" src="{{ asset('build/images/sad-cake.webp') }}"
                 alt="Un gâteau qui a l'air bien triste">
            <h1 class="text-primary mt-5 text-center">Erreur {{ errorNumber }}</h1>
            <h3 class="text-secondary mb-4 text-center">{{ errorType }}</h3>
            <p class="text-center">{{ errorMessage }}</p>
        </div>
    </div>
</div>
